body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* .navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
    background: rgb(10, 10, 10); 
    color: white;
    display: block;
} */

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.navbar a {
    
     margin-left: 20px;
    text-decoration: none;
    color: white;
    align-items: center;     
    
}

.hero {
    height: 70vh;
    background: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e')
    center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero span {
    font-style: italic;
}

.packages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 50px;
}

.package-card1 {
    background: white;
     background: url(picture1.jpg)
    center/cover no-repeat;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.package-card2 {
    background: white;
     background: url(picture2.jpg)
    center/cover no-repeat;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.package-card3 {
    background: white;
     background: url(picture3.jpg)
    center/cover no-repeat;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.package-card4 {
    background: white;
     background: url(picture4.jpg)
    center/cover no-repeat;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.package-card5 {
    background: white;
     background: url(picture5.jpg)
    center/cover no-repeat;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.package-card6 {
    background: white;
     background: url(picture6.jpg)
    center/cover no-repeat;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.package-card7 {
    background: white;
     background: url(picture7.jpg)
    center/cover no-repeat;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.package-card8 {
    background: white;
     background: url(picture8.jpg)
    center/cover no-repeat;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.package-card h3 {
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
    margin: 15px 0;
}

button {
    padding: 10px 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}
