/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(6px);
  z-index: 100;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  color: white;
}

.navbar nav {
  display: flex;
  gap: 22px;
}

.navbar nav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.navbar nav a.active {
  color: #ff9800;
}

/* HERO */
.page-hero {
  height: 55vh;
  background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e")
    center/cover no-repeat;
  color: white;
  text-align: center;
  padding-top: 120px;
}

.page-hero h1 {
  font-size: 46px;
}

.page-hero p {
  margin-top: 10px;
}

.section-title {
    text-align: center;
}

/* GRID */
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

/* CARD */
.card {
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
}

/* IMAGE */
.img-box {
    position: relative;
    height: 200px;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* RATING */
.rating {
    position: absolute;
    top: 12px;
    right: 12px;
    background: #2ecc71;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
}

/* BODY */
.card-body {
    padding: 18px;
}

.card-body h3 {
    font-size: 18px;
    margin-bottom: 6px;
}

.card-body p {
    color: #777;
    margin-bottom: 15px;
}

.card-body button {
    padding: 8px 18px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card-body button:hover {
    background: #000;
    color: white;
}